*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 900px;}
header {
	background: url('https://images.pexels.com/photos/6375509/pexels-photo-6375509.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
	text-align: center;
	width: 100%;
	height: fit-content;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: rgb(255, 255, 255);
	text-shadow: 0px 0px 5px rgb(0, 0, 0);
    
    /*
  background-image: linear-gradient( 135deg, #ffffff69 10%, #ff00006b 100%);
	*/
}

#titulo {
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	margin-bottom: 30px;
}
#titulo:hover{
	color: darkred;
}

.txtparrafo{
    color: rgb(255, 255, 255);
	font-size: 10;
}
.txtparrafo:hover{
	color: yellow;
}
h3:hover{
	color:red;
}
h3, .txtparrafo , label {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 30px;
    font-weight: bold;
	font-size:larger;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
	cursor:pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}