*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 900px;}
header {
	background: url('https://images.pexels.com/photos/1034662/pexels-photo-1034662.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: rgb(255, 255, 255);
	text-shadow: 0px 0px 5px rgb(0, 0, 0);
    
    /*
  background-image: linear-gradient( 135deg, #ffffff69 10%, #ff00006b 100%);
	*/
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	margin-bottom: 30px;
}

p{
    color: rgb(255, 255, 255);
}
h3, p , label {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 30px;
    font-weight: bold;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
	cursor: pointer;
}